*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebg linear 6s infinite;
}
.sky{
    width: 100%;
    height:590px;
    background-image: url(background.jpg);
    background-repeat: no-repeat; 
    position: absolute;
}
.trees{
    width: 100%;
    height:590px;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    width: 800vw;
    height:60vh;
    background-image: url(track.png);
    /* background-size: cover; */
    background-repeat: repeat-x;
    position: absolute;
    top: 75vh;
    animation: carMove linear 13s infinite;
}
.car{
    height: 86px;
    width: 332px;
    background-image: url(car.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 312px;
    bottom: 33px;
    
}
.wheel1 img{
    width: 75px;
    position: relative;
    top: 20px;
    left: 20px;
    animation: wheelRotation linear .6s infinite;
}
.wheel2 img{
    width: 79px;
    position: relative;
    top: -60px;
    left: 220px;
    animation: wheelRotation linear .6s infinite;

}
@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove {
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebg {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-5px);
    }
}